*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* Navbar e cabecalho */
.logo
{
    width: 16rem;
    height: 4rem;
    display: block;
    margin: 0 auto;
}

.cabecalho
{
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.imgPessoa
{
    width: 17rem;
    height: 19rem;
    margin-right: 3rem;
}

.imgTexto
{
    width: 21rem;
    height: 7rem;
    padding-left: 3rem;
}

/* Main */
main
{
    width: 60vw;
}
.accordion
{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
.accordion:first-child
{
    margin-top: 3.2rem;
}

.botaoCarro, .botaoMoto, .botaoCaminhao
{
    text-align: left;
    width: 60vw;
    background-color: rgb(36, 56, 101);
    color: white;
    border-style: none;
    font-size: 1.4rem;
    padding: 1.2rem;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.botaoCarro:hover, .botaoMoto:hover, .botaoCaminhao:hover, .botaoAtivo
{
    background-color: rgb(51, 81, 144);
}   

.setaCarro, .setaMoto, .setaCaminhao
{
    padding-top: 6px;
    margin-right: 0.8rem;
    height: 1.4rem;
    width: 1.4rem;
}
.tiraExpandir
{
    display: none;
}
.setaRecolherCarro, .setaRecolherMoto, .setaRecolherCaminhao
{
    display: none;
}  
.mostraSetaRecolher
{
    display: block;
}

.listaCarros, .listaMotos, .listaCaminhoes
{
    width: 60vw;
    list-style: none;
    font-size: 1rem;
    padding-left: 1rem;
    padding-top: 0.8rem;
    overflow: hidden;
    max-height: 0px;
    transition: 0.4s;
}

.listaCaminhoes
{
    margin-bottom: 12rem;
}

.ativaAccordion
{
    overflow: auto;
    max-height: 300px;
}


.accordion > ul > li, .accordion > ul > li > a
{
    padding: 0.4rem;
    color : rgb(40, 99, 138);
    text-decoration: none;
}

.carro
{
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    list-style: none;
    padding: 0.6rem;
    color : rgb(52, 136, 192);
    box-shadow: 0 0 0.2rem rgb(170, 170, 170);
    border-radius: 6px;
}
.carro:first-child
{
    margin-top: 0.5rem;
}

/* Responsividade */
@media (max-width : 700px)
{
    .imgPessoa
    {
        display: none;
    }
    .imgTexto
    {
        margin-top: 1rem;
    }
}

@media (max-width : 400px)
{

    .imgTexto
    {
        width: 16.8rem;
        height: 5.6rem;
    }
}